body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }

.polygon {
  fill: blue;
}

.small_arc {
  fill: brown
}

.bases {
  fill: #e5d3ae
}
.bases:hover {
fill: #f15b24;
}


.fieldLocation {
  fill: 'transparent'
}
.fieldLocation:hover {
fill: #f15b24;
}
